/* app css stylesheet */
body {
  background: #E1E1EE !important;
}

body::-webkit-scrollbar
{
 display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.main-section {
  min-height: 100%;
  display: block;
}

.app-container {
  float: left;
}

.app-wrap {
  position: relative;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  margin-bottom: 5px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.247059);
  cursor: pointer;
}

.app-wrap .badge {
  position: absolute !important;
}

.app-wrap .bcc-icon.bcc-calendar {
  background-image: url('../img/calendar.png');
}

.content {
  background-color: transparent !important;
}

.app-content {
  overflow: hidden;
}

.app-group {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 21px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 7px 15px;
}

.app-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  -webkit-border-radius: 0 0 30px 30px !important;
  -moz-border-radius: 0 0 30px 30px !important;
  border-radius: 0 0 30px 30px !important;
}

@media (min-width: 768px) {
  .main-section {
    margin-left: 100px;
    margin-right: 100px;
  }

  .app-content {
    height: 94px;
  }

  .app-container {
    width: 182px;
    height:180px;
  }

  .app-wrap {
    width: 120px;
    height:120px;
  }

  .app-wrap .bcc-icon {
    background-size: 120px 120px;
  }

  .calendar-date {
    font-size: 77px;
    line-height: 51px;
  }

}

@media (min-width: 992px) {
  .main-section {
    margin-left: 80px;
    margin-right: 80px;
  }

  .app-content {
    height: 114px;
  }

  .app-container {
    width: 200px;
    height:200px;
  }

  .app-wrap {
    width: 140px;
    height:140px;
  }

  .app-wrap .bcc-icon {
    background-size: 140px 140px;
  }

  .calendar-date {
    font-size: 88px;
    line-height: 73px;
  }
}

.calendar-day {
  text-align: center;
  color: red;
  font-size: 25px;
  font-weight: 100;
  padding-top: 5px;
}

.calendar-date {
  text-align: center;
  font-weight: 100;
}

/* tag cloud*/
.tags ul {
  padding: .5em 10px;
  text-align: center;
}

.tags li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
}

.tag1{font-size:60%;}
.tag2{font-size:80%;}
.tag3{font-size:100%;}
.tag4{font-size:120%;}
.tag5{font-size:140%;}

/* Backgrounds */
.bg-white {
  background-color: white;
}

.bg-gradient-green {
  background: -webkit-linear-gradient(top, #73ce7a, #10ac1b);
}

.desktopLogo {
  color: white;
  font-size: 25px;
  font-weight: 100;
  padding: 10px;
}

.user-info {
  position:absolute;
  top: 0px;
  right:80px;
  height: 44px;
}

.user-info .dropdown {
  height: 22px;
  top:50%;
  right: 20px;
}

.cursor-hand {
  cursor: pointer;
}

.modal-div {
  background-color: black;
  position: absolute;
  top:0px;
  left: 0px;
  opacity: .2;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.blur-content {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.apps-popup {
  -webkit-overflow-scrolling: touch;
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  border-radius: 30px !important;
  margin-bottom: 5px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.247059);
  background-color:rgba(0, 0, 0, 0.3);
  overflow: auto; 
  width: 80%;
  height: 80%;
  position:absolute;
  top:50px;
  left:10%;
  z-index: 101;
  padding-top: 20px;
}

.apps-popup::-webkit-scrollbar
{
 display: none;
}

.apps-popup.ng, .modal-div {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) .6s;
}

.apps-popup.ng-hide {
  -webkit-transition:all linear .1s;
  -moz-transition:all linear .1s;
  -o-transition:all linear .1s;
  transition:all linear .1s;
  height: 200px;
  width: 200px;
  opacity: 0;
  top:50px;
  left:50px;
}

.modal-div.ng-hide {
  opacity: 0;
}

.apps-container-view {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:999;
}

.moveout {
  top:-10000px !important;
  left:-10000px !important;
  display: none;
}

